*{
  margin:auto;
  padding:0px;
}
header,nav,footer,main,section{
  display:block;
}
a
{
  text-decoration: none;
}
@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Regular.ttf);
}
#navBar:active
{
 color: red;
} 
#map
{
  width:100%;
  height:30%;
  float:left;
  position:relative;
  top:-50px;
}
/* Optional: Makes the sample page fill the window. */
html, body
{
  background-color: #F7F6F6;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}
#description
{
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title
{
  font-weight: bold;
}
#infowindow-content
{
  display: none;
}
#map #infowindow-content
{
  display: inline;
}
.pac-card
{
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
#pac-container
{
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls
{
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label
{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#input
{
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#input:focus
{
  border-color: #4d90fe;
}
#title 
{
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target
{
  width: 345px;
}
#main-title
{
  text-align: center;
  margin-top: 170px;
}
.login
{
  margin-left: 500px;
  margin-top: 30px;
}
.desktop-nav
{
  background-color: #F7F6F6;
}
.home
{
  display: inline;
}
.personal-info
{
  display: inline;
}
.general-info
{
  display: inline;
}
.search-doc
{
  display: inline;
}
.redirectAdd
{
  float: right;
  margin-top: 30px;  
  margin-right: 60px;
  text-decoration: none;
}
.deskHeader
{
  background-color: #ffffff;
  height: 100px;
  z-index:99;
  position: sticky;
  top: 0;
  height:120px;
}
.homeNav
{
    display: inline-block;
    margin-left: 2%;
    margin-top: 75px;
    color: #2A2760;
    font-size: 20px;
    margin-right: 30px;
}
.PersonalNav
{
    display: inline-block;
    color: #2A2760;
    font-size: 20px;
    margin-right: 30px;
}
.GeneralNav
{
    display: inline-block;
    color: #2A2760;
    font-size: 20px;
    margin-right: 30px;
}
.SearchNav
{
    display: inline-block;
    color: #2A2760;
    font-size: 20px;
    margin-right: 30px;
}
#logo
{
  background-image: url('../images/logo.png');
  display: block;
  width: 340px;
  height: 60px;
  margin:0 auto;
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  background-repeat: no-repeat;
}
.ImgDesk
{
  background-color: #69678F;
  width: 100%;
  height: 300px;
  margin-top: 5px;
}
.mainImgDesk
{
  height: 300px;
  width: 650px;
}
.titleDesk
{
  color: #ffffff;
  font-size: 50px;
  float: right;
  margin-right: 6%;
  margin-top: 120px;
}
.titleDeskG{
    color: #ffffff;
    font-size: 50px;
    float: right;
    margin-right: 23%;
    margin-top: 120px;
}
.titleSearchDesk
{
  color: #ffffff;
  font-size: 50px;
  float: right;
  margin-right: 75px;
  margin-top: 120px; 
}
.topImgDesk
{
    width: 100%;
    height: 150px;
    position: relative;
    top: -50px;
}
.topTitle
{
  color: #ffffff;
  font-size: 30px;
  margin-left: 540px;
  font-weight: bold;
}
.topTitleDesk
{
  width: 100%;
  height: 35px;
  background-color: #2A2760;
  margin-top: -57px;
}
.addInfoDesk
{
  font-size: 18px;
  position: relative;
  top: 33px;
  left: 68px;
  color: #1D2108;
  text-decoration: none;
}
.currentDesk
{
    display: inline-block;
    margin-left: 54%;
    font-size: 25px;
    color: #2A2760;
    position: relative;
    top: -80px;
}
#mysearch
{
  display: inline-block;
      position: relative;
    top: -137px;
    left: -70px;
}
.addInfoImg
{
  margin-top: -45px;  
}
#filter
{
  padding: 10px 55px 10px 35px;
  margin-left: 1.5%;
  border: 1px solid #D6D6D6;
  font-size: 15px;
  position: relative;
  top: -60px;
}
.fileImg
{
  width: 200px;
  height: 200px;
}
.seeImg
{
    margin-left: 87%;
    position: relative;
    top: 10px;
    cursor: pointer;
    width: 35px;

}
.delImg
{
    position: relative;
    top: 9px;
    left: 2%;
    cursor: pointer;
    width: 20px;
}
.editImg
{
    position: relative;
    top: 10px;
    left: 2.5%;
    cursor: pointer;
    width: 50px;
}
.titlePerDesk
{
  font-size: 30px;
  margin-top: -5px;
  margin-left: 20px;
}
.infoPerDesk
{
  max-width: 140px;
  margin-left: 20px;
}
.fileImgView
{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
}
.viewTags
{
  color: #ffffff;
  font-size: 30px;
  background-color:#2A2760;
  margin-top: 10px;
}
.viewTitleTags
{
  color: #2A2760;
  font-size: 30px;
  margin-left: 20px;
}
.delViewImg
{
  position: relative;
  left: 230px;
  top: 32px;
}
.editViewImg
{
  position: relative;
  left: 240px;
  top: 32px; 
}
.viewTime
{
  border: 1px solid #D6D6D6;
  width: 440px;
  height: 400px;
  float: right;
  margin-right: 30px;
  display: inline-block;
  margin-top: -340px;
  padding-bottom: 20px;
}
.titleTime
{
  color: #2A2760;
  margin-left: 60px;
  font-size: 25px;
  margin-top: 10px;
}
.clock
{
  margin-top: 100px;
  margin-left: 130px;
}
/* The Modal (background) */
.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content
{
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.closeDelete
{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeDelete:hover,
.closeDelete:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close
{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#errorLog
{
  color: red;
  font-size: 20px;
  text-align: center;
}
.deleteQus
{
  text-align: center;
}
#buttonYes
{
  margin-left: 450px;
  padding-right: 30px;
  padding-left: 30px;
  cursor:pointer;
}
#buttonNo
{
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  cursor:pointer;
}
.tag
{
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
  margin-top: 20px;
  float: right;
}
.tag a
{
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover
{
  opacity: 1.0
}
.tag .remove
{
  vertical-align: bottom;
  top: 0;
}
.tag a
{
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white
{
  color: #fff;
  margin-bottom: 2px;
}
.changeView
{
  cursor: pointer;
  margin-left: 2%;
  height: 30px;
  margin-top: 30px;
}
#emailInput
{
  display: none;
}
#dateInput
{
  display:none;
}
.deleteGeneral
{
  display: none;
}
/*login pag*/
.loginTitle
{
  text-align: center;
  margin-top: 100px;
  color: #2A2760;
}
.emailLogin
{
  margin-left: 480px;
  margin-top: 50px;
  width: 400px;
}
.emailLoginT
{
  font-size: 20px;
  margin-left: 480px;
  position: relative;
  top: 50px;
  color: #2A2760;
}
.passLogin
{
  margin-left: 480px;
  width: 400px;
  margin-top: 40px;
}
.passLoginT
{
  font-size: 20px;
  margin-left: 480px;
  position: relative;
  top: 40px;
  color: #2A2760; 
}
.loginButton
{
  margin-left: 480px;
  margin-top: 20px;
}
.registerBut
{
  margin-left: 570px;
  margin-top: -55px;
}
/*get personal info*/
.sortInfo
{
    width: 140px;
    margin-left: 1%;
    position: relative;
    top: 18px;
    height: 30px;
}
.sortDateT
{
  margin-left: 40px;
}
.accessButton
{
  padding: 2px 5px;
  margin-left: 20px;
}
#tagsPersonal
{
    width: 370px;
    margin-left: 710px;
    position: relative;
    top: 100px;
    left: 6%;

}
.tagDataPer
{
    color: #ffffff;
    font-size: 15px;
    background-color: #5bc0de;
    border-radius: 4px;
    padding: 5px;
    position: relative;
    top: -50px;
    float: left;
    left: 18%;
    margin-right: 20px;
}
.datePersonal
{
    font-size: 20px;
    color: #2A2760;
    position: relative;
    top: 23px;
}
.contentName
{
  color: #2A2760;
  font-size: 20px;
  margin-left: 20px;
  width: 300px;
}
.contentRec
{
    color: #2A2760;
    font-size: 20px;
    position: relative;
    margin-left: 410px;
    top: 4px;

}
.contentInfo
{
    color: #2A2760;
    font-size: 20px;
    position: relative;
    right: 500px;
    top: 100px; 
}
.contentDate
{
    color: #2A2760;
    font-size: 20px;
    position: relative;
       right: 115px;
    top: 50px;
}
/*insert personal data*/
.InsertPerT
{
  text-align: center;
  margin-top: 50px;
}

/*search doctor*/
.selectTitle
{
  z-index: 80;
  color: #2A2760;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: 120px;
}
#expertise
{
  z-index: 80;
  position: relative;
  top: 115px;
  left: 20px;
}
#HMO
{
  z-index: 80;
  position: relative;
  top: 115px;
  left: 25px;
}
#sendButton
{
  z-index:80;
  padding: 5px 23px;
  border-radius: 5px;
  position: relative;
  left: 5%;
  top: 120px;
}
#input1
{
  padding: 5px 10px;
  position: relative;
  left: 10%;
}                     
.searchResult
{
  color: #2A2760;
  margin-top: 40px;
  margin-left: 10px;
}
.editPersonal
{
  width: 700px;
  margin: auto;
}
.submitEdit
{
  margin-left: 324px;
  margin-bottom: 30px;
}
.editTitle
{
  font-size: 25px;
  color: #2A2760;
  margin-left: 324px;
}

.submitPopUp
{
  margin-top: 10px;
}
.fileButton
{
  margin-left: 323px;
}
.submitAddInfo
{
  margin-left: 324px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.insertTitle
{
    font-size: 30px;
    color: #2A2760;
    margin-top: -30px;
    text-align: center;
    margin-right: 130px;
    margin-bottom: 30px;
}
.addPer
{
  position: relative;
  left: 330px;
  top: -2px;
}
.perButton
{
  position: relative;
  left: 325px; 
}
.createNoti
{
  margin-top: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #1C0C4F;
  width: 150px;
  padding: 7px;
  border-radius: 8px;
  border: 1px;
}

.topGTitle
{
  color: #ffffff;
  font-size: 30px;
  margin-left: 575px;
  font-weight: bold;
}
.entityGeneral
{
  margin-left: 90px;
  position: relative;
  top: -1px;
  width: 200px;
}
.hmoGeneral
{
  margin-left: 60px;
  width: 200px;
  position: relative;
  top: -3px;
}
.insertGTitle
{
  font-size: 20px;
  color: #2A2760;
  margin-left: 324px;
}
.fromTitle
{
  margin-left: 324px;
  margin-top: 20px;
}
.seeGeneralImg
{
  margin-left: 360px;
  position: relative;
  top: 55px;
  cursor: pointer;
}
/*register page*/
.registerTitle
{
  margin-top: 60px;
  text-align: center;
  color: #2A2760;
}
.registerLabel
{
  font-size: 20px;
  margin-left: 480px;
  position: relative;
  top: 30px;
  color: #2A2760;
}
.registerInput
{
  margin-left: 480px;
  margin-top: 30px;
  width: 400px;
}
.registerButton
{
  margin-left: 480px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*adi*/
#profile
{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -58px;
    margin-left: 3%;
}
/****/
#profileIndex
{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -87px;
    margin-left: 95%;
}
/***/
#profileSearch
{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -68px;
    margin-left: 3%;
}
/****/
#profileP
{
     text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -68px;
       margin-left: 13%;
}
/****/
#loginLinkP
{
    float: right;
    margin-right: 6%;
    text-decoration: none;
    cursor: pointer;
    margin-top: -98px;
}
/*****/
#loginLinkM
{
      float: right;
    margin-right: 6%;
    text-decoration: none;
    cursor: pointer;
    margin-top: -98px;
}
/*adi*/
#loginLink
{
    float: right;
    margin-right: 100px;
    text-decoration: none;
    cursor: pointer;
    margin-top: -88px;
}
.permissionName
{
  position: relative;
  left: 325px;
  top: 30px;
}
.permissionLable
{
  position: relative;
  left: 330px;
  top: 28px;
}
.permissionTitle
{
  font-size: 18px;
  color: #2A2760;
  margin-left: 330px;
  margin-bottom: -25px;
}
.addTitle
{
  position: relative;
  top: 30px;
  left: 345px;
  font-size: 15px;
  cursor: pointer;
}
.addTitle:hover
{
  color: red;
}
#inputAdd
{
  position: relative;
  top: 8px;
  left: 460px;
}
.addButton
{
  position: relative;
  left: 650px;
  top: -16px;
}
.hide
{
  display: none;
}
.generalInput
{
  width: 700px;
  margin: auto;
}
.topTitleSpan
{
  font-size: 18px;
  margin-top: 20px;
}
.addInfoSpan
{
    font-size: 18px;
    position: relative;
    top: 25px;
    left: 80px;
    color: #1D2108;
    text-decoration: none;
}
.addInfoImgGe
{
  margin-top: -55px;
}
.addInfoDeskG
{
    font-size: 18px;
    position: relative;
    top: 33px;
    left: 74px;
    color: #1D2108;
    text-decoration: none;
}
.titles
{
  font-size: 20px;
  margin-right: 40px;
}
.titlesTag{   
    color: #2A2760;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 100px;
    display: inline-block;
    margin-top: 30px;
}
.titlesD{
  font-size: 20px;
    margin-top: 32px;
    float: left;
    margin-left: 20px;
    display: inline-block;
}
.titleDetails{
  display: inline-block;
    float: left;
    position: relative;
    left: 110px;
    color: #2A2760;
    font-size: 30px;
    top: 6px;
}
.dateDetails{
    color: #2A2760;
    font-size: 20px;
    margin-right: 100px;
    display: inline-block;
    float: left;
    position: relative;
    top: 70px;
    left: -240px;
}
.addInfoView
{
    position: relative;
    top: 32px;
    font-size: 20px;
    left: 80px;
}
.addInfoSView
{
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 85px;
}
.titleView
{
    margin-left: 20px;
    margin-top: 60px;
    margin-right: 60px;
    font-size: 25px;
}
/*****/
.catView
{
    margin-left: 2%;
    font-size: 25px;
    position: relative;
    font-size: 25px; 
}
.DocView
{
      margin-left: 23px;
    position: relative;
    top: 20px;
    font-size: 25px;
    margin-bottom: 30px;
}
.contentDoc
{
    margin-left: 280px;
    position: relative;
    top: 30px;
    font-size: 25px;
    margin-bottom: 30px;
}
.recView
{
    margin-left: 20px;
    font-size: 25px;
    position: relative;
    top: 80px;
    font-size: 25px;
    /* float: left; */
    right: 905px;
}
.infoView
{
    margin-right: 60px;
    font-size: 25px;
    position: relative;
    top: 100px; 
    right: 47%;
}
/***/
.dateView
{
    font-size: 25px;
    position: relative;
    top: 50px;
 right: 23.5%;

}
.tagDataPerView
{
color: #ffffff;
    font-size: 15px;
    display: inline-block;
    background-color: #5bc0de;
    border-radius: 4px;
    padding: 3px;
    position: relative;
    top: -20px;
    left: 410px;
    float: left;
    margin-right: 10px;
}
.titleViewTag
{
    display: inline-block;
    margin-left: 2.1%;
    margin-top: 120px;

    font-size: 25px; 
}
.editMainTitle
{
      margin-top: -30px;
    margin-left: 320px;
    margin-bottom: 20px;
    color: #2A2760;
}
.insertTitleTag
{
      color: #2A2760;
    margin-top: -30px;
    text-align: center;
    margin-right: 260px;
    margin-bottom: 30px;
    font-size: 30px;
}
.insertTitleG
{
      font-size: 30px;
    color: #2A2760;
    margin-top: -30px;
    text-align: center;
    margin-right: 150px;
    margin-bottom: 30px;
}
.editAdmin
{
  float: left;
    margin-left: 20px;
}

.tagM
{
    float: left;
    margin-left: 20PX;
    margin-top: 50px
}
.inputTagM
{
    width: 300px;
    float: left;
    margin-top: 90px;
    margin-left: 2%;
}
#saveTag
{
    display: block;
    margin-top: 120px;
    margin-left: 30px;
}
#titleTag
{
      margin-left: 29px;
}
#titleTagM
{
    position: relative;
    right: 45%;
    top: 40px;
}
.getDoc
{
  cursor: pointer;
}
.holdPopUp{
      font-size: 20px;
    display: inline-block;
    margin-left: 20px;
}
#linkData{
    margin-left: 150px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: 50px;
    margin-right: 30px;
}
#seeTag
{
    font-size: 25px;
    margin-left: 2%;
}
#linkTitle{
  position: relative;
    top: -80px;
    font-size: 20px;
}
#categoryTitle
{
    color: #2A2760;
    font-size: 30px;
    margin-top: 10px;
    position: relative;
    right: 29.5%;
}
/*****/
#category
{
    width: 400px;
    margin-top: 80px;
    position: relative;
}
#buttonCategory
{
    margin-left: 30px;
    margin-top: 30px;
}
/***/
#subCategory
{
    color: #2A2760;
    font-size: 25px;
    margin-top: 90px;
    position: relative;
    right: 29.5%;
}
#TagsCat{
  width: 400px;
    margin-left: 30px;
    margin-top: 20px;
}
#selectedCat
{
      width: 230px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.liDynamic
{
      margin-right: 30px;
    margin-left: 20px;
    margin-top: 16px;
}
#dynamicNav
{
    margin-left: 370px;
    margin-top: -50px;
}
.navBarPrivate
{
  position: relative;
  top: -50px;
  float:left;
}
.bodyHeandler
{
  background-color: #F7F6F6;
}
.searchKeyword
{
    position: relative;
    top: 1px;
    font-size: 20px;
    color: #2A2760;
    float: left;
    left: 2%;
    top: -60px;
}
.titleSort
{
    font-size: 25px;
    margin-left: 1%;
    position: relative;
    top: 20px;
}

.detailsAndler
{
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    width: 90%;
    margin-top: 6px;
    margin-left: 1.5%;
    border-color: #DCDFE0;
    margin-bottom: 10px;
}
#filterDoc{
  padding: 10px 55px 10px 35px;
  margin-top: 10px;
  border: 1px solid #D6D6D6;
  position: relative;
  left: 5%;
  top: -6px;
}
.searchTitle{
  display:inline-block;
  position: relative;
  left: 5%;
}
.bodyContent{
  background-color:#F7F6F6;
  font-family: Comfortaa; 
}
.medInfo{
  background-color: #FFFFFF;
  width: 90%;
  margin-top: 25px;
}
.labelGeneral
{
font-size:16px;
 margin-left:10px; 
}
.medTitle
{
  font-size:22px;
  font-weight: bold;
  margin-left:10px;
  padding-top: 10px;
  padding-bottom:10px;
}
.rankButton
{
  cursor: pointer;
  position: relative;
  top: -6px;
}
.medContent
{
  font-size:16px; 
}
.daysRank
{
  padding-right:5px;
  font-size: 16px;
  padding-bottom:5px;
}
@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.popUpGeneral
{
  font-size: 18px;
}
#showMyRank
{
  position: relative;
  top: -5px;
  padding-left: 3px;
}
.popUpTitle
{
  font-size:22px;
  font-weight: bold;
}
.selectTitleHMO
{
  z-index: 80;
  position: relative;
  left: 10px;
  font-size: 20px;
  top: 120px;
}
#titleSeach
{
  color: #2A2760;
  margin-left:25%;
  margin-top:40px;
}
.serachRes
{
  color: #2A2760;
  margin-left: 10px;
  margin-top:30px;
  background-color: #ffffff;
  width:100%;
}
.docNameSearch
{
  font-weight: bold;
  font-size: 22px;
  margin-right:10px;
}
#navBarSub
{
  font-size: 17px;
}
#categorySub
{
    float: left;
    margin-left: 2%;
    margin-top: 20px;
}