*{
  margin:auto;
  padding:0px;

}
header,nav,footer,main,section{
  display:block;
}
a{
    text-decoration: none;
}
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
#main-title{
    text-align: center;
    margin-top: 170px;
}
.login{
    margin-left: 500px;
    margin-top: 30px;
}
.desktop-nav{
    background-color: #F7F6F6;
}
.home{
    display: inline;
}
.personal-info
{
    display: inline;
}
.general-info{
    display: inline;
}
.search-doc{
    display: inline;
}
.redirectAdd{
    float: right;
    margin-top: 30px;
    margin-right: 60px;
}
.deskHeader{
  background-color: #F7F6F6;
  height: 120px;
}
.homeNav{
  display: inline-block;
  padding-right: 50px;
  margin-left: 200px;
  margin-top: 75px;
  color: #2A2760;
  font-size: 25px;
}
.PersonalNav{
  display: inline-block;
  padding-right: 50px;
  color:#2A2760;
  font-size: 25px;
}
.GeneralNav{
  display: inline-block;
  padding-right: 50px;
  color: #2A2760;
  font-size: 25px;
}
.SearchNav{
  display: inline-block;
  color: #2A2760;
  font-size: 25px;
}
#logo
{
  background-image: url('../images/logo.png');
  display: block;
  width: 340px;
  height: 100px;
  margin:0 auto;
  position: relative;
  float: left;
}
.ImgDesk
{
  background-color: #69678F;
  width: 100%;
  height: 300px;
  margin-top: 5px;
}
.mainImgDesk
{
  height: 300px;
  width: 650px;
}
.titleDesk
{
  color: #ffffff;
  font-size: 50px;
  float: right;
  margin-right: 190px;
  margin-top: 120px;
}
.titleSearchDesk
{
  color: #ffffff;
  font-size: 50px;
  float: right;
  margin-right: 75px;
  margin-top: 120px; 
}
.topImgDesk
{
  width: 100%;
  height: 150px;
}
.topTitle
{
  color: #ffffff;
  font-size: 30px;
  margin-left: 600px;
  font-weight: bold;
}
.topTitleDesk
{
  width: 100%;
  height: 35px;
  background-color: #2A2760;
  margin-top: -7px;
}
.addInfoDesk
{
  font-size: 22px;
  position: relative;
  top: 20px;
  left: 72px;
  color: #1D2108;
}
.currentDesk
{
    font-size: 22px;
    color: #1D2108;
    margin-top: 35px;
    display: inline-block;
    margin-left: 20px; 
}
.addInfoImg
{
  margin-top: -15px;  
}
#filter
{
    padding: 10px 55px 10px 35px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #D6D6D6;
    font-size: 15px;
    /*background-image: url('../images/search.png');*/
}
.fileImg
{
  width: 200px;
  height: 200px;
}
.seeImg{
    margin-left: 260px;
    position: relative;
    top: 32px;
    cursor:pointer;
}
.delImg{
    position: relative;
    top: 32px;
    left: 10px; 
    cursor:pointer;
}
.editImg{
    position: relative;
    top: 32px;
    left: 15px;
    cursor:pointer; 
}
.titlePerDesk
{
  color: #2A2760;
  font-size: 30px;
  margin-top: -5px;
  margin-left: 20px;
}
.infoPerDesk
{
  max-width: 140px;
  margin-left: 20px;
}
.fileImgView
{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
}
.viewTags{
  color: #ffffff;
  font-size: 30px;
  background-color:#2A2760;
  margin-top: 10px;
}
.viewTitleTags
{
  color: #2A2760;
  font-size: 30px;
  margin-left: 20px;
}
.delViewImg{
    position: relative;
    left: 230px;
    top: 32px;
}
.editViewImg
{
     position: relative;
    left: 240px;
    top: 32px; 
}
.viewTime
{
  border: 1px solid #D6D6D6;
  width: 440px;
  height: 400px;
    float: right;
    margin-right: 30px;
    display: inline-block;
    margin-top: -340px;
    padding-bottom: 20px;
}
.titleTime
{
  color: #2A2760;
  margin-left: 60px;
  font-size: 25px;
  margin-top: 10px;
}
.clock
{
      margin-top: 100px;
    margin-left: 130px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#errorLog
{
  color: red;
  font-size: 20px;
  text-align: center;
}
.deleteQus
{
  text-align: center;
}
#buttonYes
{
    margin-left: 450px;
    padding-right: 30px;
    padding-left: 30px;
    cursor:pointer;
}
#buttonNo
{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    cursor:pointer;
}
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
  margin-top: 20px;
  float: right;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
.changeView
{
  cursor: pointer;
}
#emailInput{
  display: none;
}
#dateInput{
  display:none;
}