<!DOCTYPE html>
<html ng-app="mymed">
<head>
  <title>general information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
    <header class="deskHeader">
        <a href="index.html" id="logo" data-toggle="tooltip" title="MyMedical" alt="MyMedical"> </a>
         <nav class="navBarPrivate">
            <a href="index.html">
                <h3 class="homeNav">Home</h3>
            </a>
            <a href="getPrivateData.html">
                <h3 class="PersonalNav">Personal Medical Infomation</h3>
            </a>
            <a href="generalRanking.html">
                <h3 class="GeneralNav">General Medical Information</h3>
            </a>
            <a href="searchDoc.html">
                <h3 class="SearchNav">Search Doctor Nearby</h3>
            </a>
            <a href="tagsManager.html">
                <h3 class="SearchNav">Tags Manager</h3>
            </a>
            <a href="login.html" id="loginLink">
                <span data-toggle="tooltip" title="Click to login">Login</span>
            </a>
         </nav>
    </header> 
<body class="bodyContent">
  <section>
    <img src="images/general.jpg" class="topImgDesk">
  </section>
  <section class="topTitleDesk">
    <span class="topTitle" id="titleGMobile">General Information</span>
  </section>
  <a href="insertGeneralData.html" class="redirectAdd">
    <span class="addInfoDeskG">add general</span>
    <br>
    <span class="addInfoSpanG">information</span>
    <img src="images/addButton.png" class="addInfoImgGe">
  </a>
  <section ng-controller="calCtrl">
  <br>
  <h2 class="searchTitle">Search entity:</h2>
  <input type="search" id="filterDoc" name="searchString" ng-model="searchString" placeholder="enter your preference">
  <i ng-click="topFunction()" id="myBtn" title="Go back to the top"></i>
  <br><br><br>
   <section ng-repeat="doc in general | filter:searchString">
    <section class="medInfo" >
    <h1 class="medTitle">{{doc.name}}</h1>
    <label class="labelGeneral">Ranking:</label>
    <span class="generalData">{{doc.Ranking}}</span>
    <img src="images/like.jpg" class="rankButton" data-toggle="tooltip" title="Click to rate" ng-click="rankDoc(doc.Entity,doc.name,doc.Expertise, doc.Address, doc.Ranking, doc.LastUpdate, doc.totaNumlRank, doc.myNumRank)">
    <br>
    <label class="labelGeneral">Expertise:</label>
    <span class="medContent">{{doc.Expertise}}</span>
    <br>
    <label class="labelGeneral">HMO:</label>
    <span class="medContent">{{doc.HMO}}</span>
    <br>
    <label class="labelGeneral">Reception hours:</label>
    <span ng-repeat="i in doc.reception_hours">
      <span class="daysRank" ng-if="i.Sunday !== undefined">Sunday: {{i.Sunday}}</span>
      <span class="daysRank" ng-if="i.Monday !== undefined
      ">, Monday: {{i.Monday}}</span>
      <span class="daysRank" ng-if="i.Tuesday !== undefined">, Tuesday: {{i.Tuesday}}</span>
      <span class="daysRank" ng-if="i.Wednesday !== undefined">, Wednesday: {{i.Wednesday}}</span>
      <span class="daysRank" ng-if="i.Thursday !== undefined">, Thursday: {{i.Thursday}}</span>
      <span class="daysRank" ng-if="i.Friday !== undefined">, Friday: {{i.Friday}}</span>
    </span>
    <br>
    <label class="labelGeneral">Address:</label>
    <span class="medContent">{{doc.Address}}</span>
    <button ng-click="edit(doc)" ng-if="user()" class="btn btn-default editAdmin">edit info</button>
    <button ng-click="deleteDoc(doc)" ng-if="user()" class="btn btn-default deleteAdmin">delete info</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <section class="modal-content">
        <span class="close">&times;</span>
          <p id="errorLog"></p>
          <span class="popUpTitle">{{dataName}}</span>
          <span id="showMyRank"></span>
          <br>
          <span class="popUpGeneral">current ranking: {{dataRank}}</span>
          <br>
          <span class="popUpGeneral">was updated in: {{lastUpdate}}</span>
          <br>
          <span class="popUpGeneral">Rank credibility: {{Credibility}}%</span>
          <br>
          <p class="popUpGeneral">Address: {{dataAddress}}</p>
              <br>
              <p>Personal attention</p>
               <section star-rating rating="PA" click="clickPA(param)">
              </section>
               <p>Professional</p>
               <section star-rating rating="Pro" click="clickPro(param)">
              </section>
               <p>Availability to schedule an appointment</p>
               <section star-rating rating="AV" click="clickAV(param)">
              </section>
               <p>Atmosphere in clinc</p>
               <section star-rating rating="AT" click="clickAT(param)">
              </section>
               <p>Recommendation</p>
               <section star-rating rating="Rec" click="clickRec(param)">
              </section>
              <input class="btn btn-default submitPopUp" type="submit" ng-click="sendRank()" value="save">
     </section>
     </div>
    <!-- The Modal -->
    <div id="deletePopup" class="modal">
      <!-- Modal content -->
      <section class="modal-content">
        <span class="closeDelete">&times;</span>
          <p>Entity:{{delEntity}}</p>
          <p>Name:{{delName}}</p>
          <p>Address:{{delAddress}}</p>
          <button ng-click="delYes()">yes</button>
          <button ng-click="delNo()">no</button>
      </section>
    </div>
   </section>
  </section>
  <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-resource.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/ng-tags-input.min.js"></script>
    <script src="js/appController.js"></script>
</body>
</html>