<!DOCTYPE html>
<html ng-app="mymed">
    <head>
        <title>get private data</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <header class="deskHeader">
        <a href="index.html" id="logo"> </a>
         <nav>
            <a href="index.html">
                <h3 class="homeNav">Home</h3>
            </a>
            <a href="getPrivateData.html">
                <h3 class="PersonalNav">Personal info</h3>
            </a>
            <a href="#">
                <h3 class="GeneralNav">General info</h3>
            </a>
            <a href="searchDoc.html">
                <h3 class="SearchNav">Search doctor nearby</h3>
            </a>
         </nav>
    </header>
<body>
    <main>
        <section>
            <img src="images/personalImg.jpg" class="topImgDesk">
        </section>
        <section class="topTitleDesk">
            <span class="topTitle">Personal info</span>
        </section>
         <section ng-controller="getPersonalCtrl">
             <a href="insertPersonal.html" class="redirectAdd">
                <span class="addInfoDesk">add info</span>
                <img src="images/addInfo.png" class="addInfoImg">
             </a>
             <h2 class="currentDesk">current view:</h2>
             <h2 class="currentDesk" id="mysearch">{{searchString}}</h2>
             <br>
             <input type="search" id="filter" name="searchString" ng-model="searchString" placeholder="change view by keyword">
             <br>
             <p>{{insertData}}</p>
             <br>
             <section ng-repeat="index in insertDataToDB | filter:searchString">
                 <button ng-click="viewCurrent(index)">
                  <img src="images/see.png" class="seeImg">
                 </button>
                    <img src="images/delete.png" class="delImg" ng-click="deletePopUp(index)">
                 <a href="edit.html">
                 <img src="images/edit.png" class="editImg">
                 </a>
                 <h1 class="titlePerDesk">{{index.Title}}</h1>
                 <span>{{index.myDate}}</span>
                 <p class="infoPerDesk">{{index.Info}}</p>
             </section>
             <section id="myModal" class="modal">
                <section class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="deleteQus">would you like to delete your info?</h2>
                    <button class="btn btn-primary" id="buttonYes" ng-click="deleteInfo(popUp)">yes</button>
                    <button class="btn btn-primary" id="buttonNo" ng-click="closePopUp()">no</button>
                </section> 
             </section>
             <br><br>
             <button ng-init="getAllAccess()">Access rights</button>
                <select ng-model="selectedName" id="selectedName" name="selectedName" value="" ng-options="x for x in names"></select>
                <section ng-repeat ="i in getUserPer">
                    Title: {{i.Title}}
                    <br>
                    Info: {{i.Info}}
                    <br>
                    Category: {{i.Category}}
                    <bkr>
                    <img ng-src="{{i.file}}">
                    <br>
                    Recommendation: {{i.Recommendation}}
                    <br>
                    Tags:
                    <p ng-repeat ="a in i.Tags">
                        {{a.name}}
                    </p>
                </section>
          </section>
    </main>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-resource.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/ng-tags-input.min.js"></script>
    <script src="js/appController.js"></script>
</body>
</html>