<!DOCTYPE html>
<html ng-app="mymed">
<head>
    <title>insert general data</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="css/ng-tags-input.min.css">
      <link rel="stylesheet" href="css/ng-tags-input.bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
</head>
    <header class="deskHeader">
        <a href="index.html" id="logo" data-toggle="tooltip" title="MyMedical" alt="MyMedical"> </a>
         <nav class="navBarPrivate">
            <a href="index.html">
                <h3 class="homeNav">Home</h3>
            </a>
            <a href="getPrivateData.html">
                <h3 class="PersonalNav">Personal Medical Infomation</h3>
            </a>
            <a href="generalRanking.html">
                <h3 class="GeneralNav">General Medical Information</h3>
            </a>
            <a href="searchDoc.html">
                <h3 class="SearchNav">Search Doctor Nearby</h3>
            </a>
            <a href="tagsManager.html">
                <h3 class="SearchNav">Tags Manager</h3>
            </a>
            <a href="profile.html" id="profile">
                <span data-toggle="tooltip" title="Click to see your profile">Profile</span>
            </a>
            <a href="login.html" id="loginLink">
                <span data-toggle="tooltip" title="Click to login">Login</span>
            </a>
         </nav>
    </header> 
  <section>
    <img src="images/general.jpg" class="topImgDesk">
  </section>
  <section class="topTitleDesk">
    <span class="topGTitle">General information</span>
  </section>
<body ng-controller="insertGeneralCtrl">
<br><br><br><br>
    <form>
    <h1 class="insertTitleG">Please insert general mediacl information</h1>
      <div class="form-group">
        <label for="pwd" class="editTitle" data-toggle="tooltip" title="Select an entity from the list">Medical entity</label>
        <select class="entityGeneral" id="entitySelect" ng-model="entitySelect" name="entitySelect">
          <option value="Doctor">Doctor</option>
          <option value="Hospital">Hospital</option>
          <option value="Clinic">Clinic</option>
        </select>    
      </div> 
      <div class="form-group">
        <label for="pwd" class="editTitle" data-toggle="tooltip" title="Enter the name of the medical entity, for example Dr. Rosen Moshe">Medical entity name</label>
        <input type="text" class="generalInput form-control" id="pwd" ng-model="name" name="name" placeholder="medical entity name" required>
      </div>
      <div class="form-group">
        <label for="pwd" class="editTitle" data-toggle="tooltip" title="enter in what the meducal entity specialized in(e.g. general dentistry)">Medical facility expertise</label>
        <input type="text" class="generalInput form-control" id="pwd" ng-model="Expertise" name="Expertise" placeholder="medical facility expertise" required>
      </div>
      <div class="form-group">
        <label for="pwd" class="editTitle" data-toggle="tooltip" title="Select from the list the name of medical entity">HMO</label>
        <select class="hmoGeneral" id="hmoSelect" ng-model="hmoSelect" name="hmoSelect">
          <option value="Maccabi">Maccabi</option>
          <option value="Clalit">Clalit</option>
          <option value="Meuhedet">Meuhedet</option>
          <option value="Leumit">Leumit</option>
        </select> 
      </div>
      <div class="form-group">
        <label for="pwd" class="editTitle" data-toggle="tooltip" title="Enter the address of the medical entity">The address of the medical entity</label>
        <input type="text"  class="generalInput form-control" id="pwd" ng-model="Address" placeholder="the address of the medical entity" name="Address">
      </div>
      <div class="form-group">
      <label for="pwd" class="editTitle" data-toggle="tooltip" title="Select the reception hours">Reception hours</label>
      <br>
      <label for="pwd" class="insertGTitle">Sunday</label>
      <br>
        <label class="fromTitle">From</label>
          <input type="time" id="SundayHoursFrom" ng-model="SundayHoursFrom" name="SundayHoursFrom" value="">
        <label>Until</label>
          <input type="time" id="SundayHoursUntil" ng-model="SundayHoursUntil" name="SundayHoursUntil" value="">
      <br><br>
      <label for="pwd" class="insertGTitle">Monday</label>
        <br>
        <label for="pwd" class="fromTitle">from</label>
          <input type="time" id="MondayHoursFrom" ng-model="MondayHoursFrom" name="MondayHoursFrom">
        <label>Until</label>
          <input type="time" id="MondayHoursUntil" ng-model="MondayHoursUntil" name="MondayHoursUntil">
          <br><br>
      <label for="pwd" class="insertGTitle">Tuesday</label>
        <br>
        <label for="pwd" class="fromTitle">from</label>
          <input type="time" id="TuesdayHoursFrom" ng-model="TuesdayHoursFrom" name="TuesdayHoursFrom">
        <label>Until</label>
          <input type="time" id="TuesdayHoursUntil" ng-model="TuesdayHoursUntil" name="TuesdayHoursUntil">
          <br><br>
      <label for="pwd" class="insertGTitle">Wednesday</label>
        <br>
        <label for="pwd" class="fromTitle">from</label>
          <input type="time" id="WednesdayHoursFrom" ng-model="WednesdayHoursFrom" name="WednesdayHoursFrom">
        <label>Until</label>
          <input type="time" id="WednesdayHoursUntil" ng-model="WednesdayHoursUntil" name="WednesdayHoursUntil">
          <br><br>
      <label for="pwd" class="insertGTitle">Thursday</label>
        <br>
        <label for="pwd" class="fromTitle">from</label>
          <input type="time" id="ThursdayHoursFrom" ng-model="ThursdayHoursFrom" name="ThursdayHoursFrom">
        <label>Until</label>
          <input type="time" id="ThursdayHoursUntil" ng-model="ThursdayHoursUntil" name="ThursdayHoursUntil">
          <br><br>
      <label for="pwd" class="insertGTitle">Friday</label>
        <br>
        <label for="pwd" class="fromTitle">from</label>
          <input type="time" id="FridayHoursFrom" ng-model="FridayHoursFrom" name="FridayHoursFrom">
        <label>Until</label>
          <input type="time" id="FridayHoursUntil" ng-model="FridayHoursUntil" name="FridayHoursUntil">
      <br><br>
      <button type="submit" class="btn btn-default submitAddInfo" ng-click="saveGeneral()">Submit</button>
      </div>
    </form>
    <script>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHo4IfFEKL8UxvDQkoEkD6UPggg9RFPBI&libraries=places,geometry">
    </script>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-resource.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/ng-tags-input.min.js"></script>
    <script src="js/appController.js"></script>
</body>
</html>