<!DOCTYPE html>
<html ng-app="mymed">
<head>
    <title>insert personal data</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="css/ng-tags-input.min.css">
      <link rel="stylesheet" href="css/ng-tags-input.bootstrap.min.css">
</head>
  <header class="deskHeader">
        <a href="index.html" id="logo"> </a>
         <nav class="navBarPrivate">
            <a href="index.html">
              <h3 class="homeNav">Home</h3>
            </a>
            <a href="getPrivateData.html">
              <h3 class="PersonalNav">Personal Medical Infomation</h3>
            </a>
            <a href="generalRanking.html">
              <h3 class="GeneralNav">General Medical Information</h3>
            </a>
            <a href="searchDoc.html">
              <h3 class="SearchNav">Search Doctor Nearby</h3>
            </a>
            <a href="tagsManager.html">
              <h3 class="SearchNav">Tags Manager</h3>
            </a>
            <a href="login.html" id="loginLink">
              <span data-toggle="tooltip" title="Click to login">Login</span>
            </a>
         </nav>
    <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="responsive-menu">
        <ul class="ulMobile">
           <li class="liMobile"><a href="index.html">Home</a></li>
           <li class="liMobile"><a href="getPrivateData.html">Personal Medical Infomation</a></li>
           <li class="liMobile"><a href="generalRanking.html">General Medical Information</a></li>
           <li class="liMobile"><a href="searchDoc.html">Search Doctor Nearby</a></li>
           <li class="liMobile"><a href="login.html">Login</a></li>
        </ul>
    </div>
  </header> s
<body ng-controller="MainCtrl">
    <form enctype="multipart/form-data" method="post" action="http://localhost:3000/addPersonal">
    <h1 class="InsertPerT">Please add your private info</h1>
      <div class="form-group">
        <label for="pwd">Title:</label>
        <input type="text" class="form-control" id="pwd" ng-model="Title" name="Title">
      </div> 
      <div class="form-group">
        <label for="pwd">Info:</label>
        <input type="text" class="form-control" id="pwd" ng-model="Info" name="Info">
      </div>
      <div class="form-group">
        <label for="pwd">Category:</label>
        <input type="text" class="form-control" id="pwd" ng-model="Category" name="Category">
      </div>
      <div class="form-group">
        <label for="pwd">File:</label>
        <input type="file" id="file" name="file" value="">
      </div>
      <p id="demo"></p>
      <div class="form-group">
        <label for="pwd">Recommendation:</label>
        <input type="text" class="form-control" id="pwd" ng-model="Recommendation" name="Recommendation">
      </div>
      <label for="pwd">Tags:</label>
      <tags-input ng-model="Tags" name="Tags" id="Tags" display-property="name" placeholder="Add a tag for you information" replace-spaces-with-dashes="false">
       <auto-complete source="loadTags($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="my-custom-template"></auto-complete>
      </tags-input>
      <br>
      <label>permission</label>
      <br>
      <input type="radio" name="permission" ng-model="permission" value="0" checked>No<br>  
      <input type="radio" name="permission" ng-model="permission" value="1">Yes<br>
     <div ng-modle="userPermission" id="userPermission">
      <section ng-repeat="per in names">
        <input type="checkbox" ng-model="myChoice" ng-change="getChocie(names[$index])"  ng-true-value="1" ng-false-value="0"><lable>{{per}}</lable>
      </section>
     </div>       
      <button type="submit" class="btn btn-default" ng-click="submitForm()">Submit
      </button>
    </form>
    <script type="text/ng-template" id="my-custom-template">
      <div class="right-panel">
        <span ng-bind-html="$highlight($getDisplayText())"></span>
      </div> 
    </script>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-resource.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/ng-tags-input.min.js"></script>
    <script src="js/appController.js"></script>
</body>
</html>