<!DOCTYPE html>
<html ng-app="mymed">
    <head>
        <title>tags manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/ng-tags-input.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/ng-tags-input.bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <header class="deskHeader">
        <a href="index.html" id="logo"> </a>
         <nav>
            <a href="index.html">
                <h3 class="homeNav">Home</h3>
            </a>
            <a href="getPrivateData.html">
                <h3 class="PersonalNav">Personal medical info</h3>
            </a>
            <a href="generalRanking.html">
                <h3 class="GeneralNav">General info</h3>
            </a>
            <a href="searchDoc.html">
                <h3 class="SearchNav">Search doctor nearby</h3>
            </a>
            <a href="profile.html" id="profile">
                <h5 data-toggle="tooltip" title="Click to see your profile">profile</h5>
            </a>
         </nav>
    </header>
<body>
    <main>
        <section ng-controller="tagsCtrl" class="continer">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/')}"><a href="#" ng-click="newCategory()">Create new category</a></li>
                    <li ng-class="{ active: isActive('/')}"><a ng-href="#" ng-click="allTags()">All tags</a></li>
                    <li ng-class="{ active: isActive('/')}"><a ng-href="#" ng-click="newTag()">Create new tag</a></li>
                </ul>
            </div>
<!--             <button class="btn btn-default"  ng-click="allTags()" id="getAllTag">All tags</button>
            <button class="btn btn-default" ng-click="newTag()" id="createTag">Create new tag</button> -->
            <label for="pwd" id="titleTag" class="editTitle" data-toggle="tooltip" title="add new tag to tags manager">Add new tag</label>
            <tags-input ng-model="Tags" class="inputTagM" name="Tags" id="Tags"  display-property="name" placeholder="Add new a tag" replace-spaces-with-dashes="false">
            </tags-input>
            <button class="btn btn-default" id="saveTag">Save tag</button>
            <h2 id="seeTag">click on tag label to see all document that belong to this tag</h2>
            <section ng-repeat="i in personalTag" class="tagM tag label label-info ng-binding ng-scope" id="tagContiner">
                <i ng-click="getDocument(i.name)" class="getDoc" data-toggle="tooltip" title="click to see all document that belong to this tag">{{i.name}}</i>
                {{i.number}}
                <a>
                  <i class="remove glyphicon glyphicon-remove-sign glyphicon-white" ng-click="removeTag(i.name,i.number)"></i>
                </a>
            </section>
            <div id="linkDocs" ng-repeat="j in linkDataName">
                <a href="#" ng-click="createPopUp(j.Title,j.Info,j.myDate,j.file)">{{j.Title}}</a>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
                <section class="modal-content">
                    <span class="close">&times;</span>
                        <p id="errorLog"></p>
                        <label>Document title</label>
                        <h1 class="holdPopUp">{{title}}</h1>
                        <br>
                        <label>Date of creation</label>
                        <h3 class="holdPopUp">{{date}}</h3>
                        <br>
                        <label>Document information</label>
                        <p class="holdPopUp">{{info}}</p>
                        <br>
                        <label>Document</label>
                        <img ng-src="{{file}}">
                </section>
             </div>
             <label id="categoryTitle" data-toggle="tooltip" title="add new category to tags manager">Please create new category</label>
             <tags-input ng-model="category" class="inputTagM" name="category" id="category"  display-property="name" placeholder="Add new a category" replace-spaces-with-dashes="false">
             <auto-complete source="loadCategory($query)"
                             min-length="0"
                             load-on-focus="true"
                             load-on-empty="true"
                             max-results-to-show="32"
                             template="my-custom-template"></auto-complete>
             </tags-input>
             <label id="subCategory">Choose from the list tags to this category</label>
             <tags-input ng-model="TagsCat" class="editPersonal" name="TagsCat" id="TagsCat" display-property="name" placeholder="Add a tag for your item" replace-spaces-with-dashes="false">
             <auto-complete source="loadTags($query)"
                             min-length="0"
                             load-on-focus="true"
                             load-on-empty="true"
                             max-results-to-show="32"
                             template="my-custom-template"></auto-complete>
             </tags-input>
             <button class="btn btn-default" id="buttonCategory">Add</button>
        </section>
    </main>
    <script type="text/ng-template" id="my-custom-template">
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div> 
    </script>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-resource.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/ng-tags-input.min.js"></script>
    <script src="js/tagController.js"></script>
</body>